<h3>Most Dangerous Day</h3>

<%= @danger_day.date_range[0] %> - <%= @danger_day.date_range[1] %>

<p>Beware of: <%= @danger_day.danger_date %></p>
<ul>
  <% @danger_day.asteroids.each do |asteroid| %>
  <li>Name: <%= asteroid.name %></li>
  <li>NEO Reference ID: <%= asteroid.neo_reference_id %></li><br><br>
  <% end %>
</ul>
